doctype html
html
    head
        meta(charset="utf-8")
        title ТЗ
        meta(content="" name="author")
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        link(rel='stylesheet' href='../node_modules/normalize.css/normalize.css')
        link(rel='stylesheet' href='./style/main.css')

        <!--[if lt IE 9]>
        script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
        <![endif]-->
        //script(src='../node_modules/dist/jquery/jquery.js')
        script(src='./js/all.js')

    body
        .container
            header.header
                .logo.invisible
                .contact
                    .contact__point.contact__point_one.invisible
                    .contact__point.contact__point_two.invisible
                    .contact__point.contact__point_three.invisible
                    a.contact__point.contact__link.invisible(href="#") Связаться с нами

            .about
                .about__icon.about__icon_zadach
            a.link-portfolio.invisible(href='#' target="_blank")




