doctype html
html
    head
        meta(charset="utf-8")
        title ТЗ
        meta(content="" name="author")
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")

        link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet' href='../node_modules/normalize.css/normalize.css')
        link(rel='stylesheet' href='./style/main.css')

        <!--[if lt IE 9]>
        script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
        <![endif]-->
        //script(src='../node_modules/dist/jquery/jquery.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://cdn.rawgit.com/tarampampam/jquery.textmistake/master/src/jquery.textmistake.js')
        script(src='./js/all.js')

    body

        .container
            header.header
                .logo
                .contact
                    .contact__point.contact__point_one
                    .contact__point.contact__point_two
                    .contact__point.contact__point_three
                    a.contact__point.contact__link(href="#") Связаться с нами

            section.about
                .about__icon.about__icon_zadach

                a.link-portfolio(href='#' target="_blank")

                .about__icon.about__icon_effect
                .about__icon.about__icon_creative.visible
                .about__icon.about__icon_iweb.visible
                .about__icon.about__icon_dlya
                .about__icon.about__icon_resheniya.visible
                .about__icon.about__icon_bussines
                .about__icon.about__icon_technology.visible



            section.slider
                .slide.active.slide-one
                    .slide-one__container
                        form.form-slide.disable
                            h2.slide__title Оставте Ваш номер телефона и мы перезвоним
                            input.form-slide__input.form-slide__input_name(type='text' placeholder="Имя")
                            input.form-slide__input.form-slide__input_phone(placeholder='Телефон' type="text")
                            button.form-slide__btn.disable Оставить

                .slide.slide-two.next
                    .slide-two__container
                        h2.slide__title Здравсвуйте. Спасибо за обращение!
                        p.slide__content Наша команда предлагает персонализированные решения бизнес-задач клиента посредством эффективного креатива. WEB-технологий и аналитики
                        p.slide__content Мы обязательно обсудим Ваш запрос в команде и свяжемся с Вами в самое близжайшее время.
                ul.slider-paginator
                    li.slider-paginator__item.slider-paginator__item_dots.active
                    li.slider-paginator__item.slider-paginator__item_dots
                    li.slider-paginator__item.slider-paginator__item_close
                        a.slider-paginator__link
                            //i.material-icons close








