.about {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15.9rem;
  margin-left: -48rem;
  height: 31.8rem;
  width: 96.3rem;
  overflow: hidden;
  -webkit-transition: top 100ms;
  -moz-transition: top 100ms;
  -o-transition: top 100ms;
  transition: top 100ms;
}

.about.jump {
  top: 40%;
}

.about.bottom {
  top: 150%;
  transition: all 500ms;
  -wepkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  -ms-transition: all 500ms;
}

.about__icon {
  position: absolute;
}

.about__icon_effect {
  top: 0;
  left: 0;
}

.about__icon:before {
  content:' ';
  vertical-align:middle;
  display: inline-block;
  background-image: url("../img/svg/sprite.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.about__icon_effect:before {
  background: url("../img/__svg/effect.svg") no-repeat;
  width: 54.9rem;
  height: 10.1rem;
  background-size: contain;
}

.about__icon_creative {
  top: 2.6rem;
  left: 95.8rem;
  -webkit-transition: left 1s;
  -moz-transition: left 1s;
  -o-transition: left 1s;
  transition: left 1s;
}

.about__icon_creative.visible {
  left: 55rem;
}



.about__icon_creative:before {
  background: url("../img/__svg/creative.svg") no-repeat;
  background-size: contain;
  width: 41.5rem;
  height: 8.4rem;
}

.about__icon_iweb {
  top: 10.3rem;
  left: 0;
  opacity: 0;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -moz-transform-origin: 0 2.1rem;
  -ms-transform-origin: 0 2.1rem;
  -webkit-transform-origin: 0 2.1rem;
  -o-transform-origin: 0 2.1rem;
  transform-origin: 0 2.1rem;
  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;

}

.about__icon_iweb.visible {
  opacity: 1;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transform-origin: 0 2.1rem;
  -ms-transform-origin: 0 2.1rem;
  -webkit-transform-origin: 0 2.1rem;
  -o-transform-origin: 0 2.1rem;
  transform-origin: 0 2.1rem;
}

.about__icon_iweb:before {
  background: url("../img/__svg/iweb.svg") no-repeat;
  background-size: contain;
  width: 32rem;
  height: 9.5rem;
}

.about__icon_technology {
  left: 31.4rem;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.about__icon_technology.visible {
  top: 10.3rem!important;
}

.about__icon_technology:before {
  background: url("../img/__svg/technology.svg") no-repeat;
  background-size: contain;
  width: 45.5rem;
  height: 8.5rem;
}

.about__icon_dlya {
  top: 19.8rem;
  left: 0;
}

.about__icon_dlya:before {
  background: url("../img/__svg/dlya.svg") no-repeat;
  background-size: contain;
  width: 19rem;
  height: 9.5rem;
}

.about__icon_resheniya {
  top: 20.9rem;
  left: 20.4rem;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -moz-transform-origin: 0 18rem;
  -ms-transform-origin: 0 18rem;
  -webkit-transform-origin: 0 18rem;
  -o-transform-origin: 0 18rem;
  transform-origin: 0 18rem;
  opacity: 0.2;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.about__icon_resheniya.visible {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  opacity: 1;
}

.about__icon_resheniya:before {
  background: url("../img/__svg/resheniya.svg") no-repeat;
  background-size: contain;
  width: 21rem;
  height: 9rem;
}

.about__icon_bussines {
  top: 19.1rem;
  left: 43.1rem;
}

.about__icon_bussines:before {
  background: url("../img/__svg/bussines.svg") no-repeat;
  background-size: contain;
  width: 33.5rem;
  height: 12.5rem;
}

.about__icon_zadach {
  width: 1.5rem;
  height: 1.5rem;
  top: 17.6rem;
  -moz-transition: left 2s;
  -ms-transition: left 2s;
  -webkit-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;

  &:before {
    background: url("../img/__svg/zadach.svg") no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    background-size: contain;
  }
}

.about__icon_zadach.left {
  left: 76.3rem!important;
}


@keyframes appear {
  0% {
    width: 2.5rem;
    height: 2.5rem;
  }

  100%{
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    width: 19.5rem;
    height: 18.5rem;
    top: 11.4rem;
  }
}

.about__icon_zadach.visible {
  left: 76.3rem!important;
  top: 11.4rem;
  width: 19.5rem;
  height: 18.5rem;
  animation-duration: 300ms;
  animation-name: appear;
  //animation-delay: 2s;



}

//.about__icon_zadach:before {
//
//}
//
//.about__icon_zadach:hover {
//  left: 763px!important;
//  transform: translateX(50px);
//}


//
//
//
//
//
//.no-svg .icon:before {
//  background-image: url("../img/svg/sprite.png");
//}
//
//.icon.bussines:before {
//  background-position: 0em 0em;
//  width: 33.5em;
//  height: 12.5em;
//}
//
//.icon.creative:before {
//  background-position: 0em -12.5em;
//  width: 41.35em;
//  height: 8.65em;
//}
//
//.icon.dlya:before {
//  background-position: 0em -21.2em;
//  width: 19em;
//  height: 9.5em;
//}
//
//.icon.effect:before {
//  background-image: url("../img/effect.svg");
//  //background-position: 0em -30.7em;
//  width: 55.5em;
//  height: 10.5em;
//}
//
//
//
//
//.icon.folio:before {
//  background-position: 0em -41.2em;
//  width: 36.5em;
//  height: 11.5em;
//}
//
//
//
//
//.icon.iweb:before {
//  background-position: 0em -52.7em;
//  width: 32em;
//  height: 9.5em;
//}
//
//
//
//
//.icon.re-logo:before {
//  background-position: 0em -62.2em;
//  width: 22.5em;
//  height: 10em;
//}
//
//
//
//
//.icon.resheniya:before {
//  background-position: 0em -72.2em;
//  width: 21em;
//  height: 9em;
//}
//
//
//
//
//.icon.technology:before {
//  background-position: 0em -81.2em;
//  width: 45.5em;
//  height: 8.5em;
//}
//
//
//
//
//.icon.zadach:before {
//  background-position: 0em -89.7em;
//  width: 19.5em;
//  height: 18.5em;
//}





