.link-portfolio {
  display: block;
  background: url("../img/__svg/folio.svg") no-repeat;
  background-size: contain;
  width: 36.5rem;
  height: 11.5rem;
  position: absolute;
  left: 50%;
  margin-left: -18.3rem;
  top: calc(100% + 3rem);
  -webkit-transition: top 100ms;
  -moz-transition: top 100ms;
  -o-transition: top 100ms;
  transition: top 100ms;

  @include tablet {
    width: 73rem;
    height: 23rem;
    margin-left: -36.5rem;
  }
}

.link-portfolio.invisible {
  display: none;
}

.link-portfolio.jump {
  top: 95%;
}

.link-portfolio.jump.bottom {
  top: 175%;
  -webkit-transition: top 200ms;
  -moz-transition: top 200ms;
  -o-transition: top 200ms;
  transition: top 200ms;
}