$orange: #e08424;

body {
  font-size: 10px;
  overflow: hidden;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

@import "blocks/fonts";
@import "blocks/icons";
@import "blocks/link";
@import "blocks/header";